<%- include('../system/header') %>

<div class="d-flex flex-column align-items-center mx-auto gameContainer">
    <div class="players">
        <h3>Játékosok</h3>
        <div id="playerList">
            <div id="player1">MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM</div>
            <div id="player2">MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM</div>
        </div>
    </div>
    <div class="gameSpace mx-auto">
        <div id="gameBoard" class="d-flex flex-wrap" style="width: 400px; height: 400px;">
            <!-- Játék tábla ide kerül -->
        </div>
    </div>
</div>




<%- include('../system/footer') %>