header{
    text-align: center;
    padding: 30px;
}

footer{
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
    letter-spacing: 3px;
}
main{
    padding: 15px;
}
.chatBox{
    min-height: 400px;
    max-height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
}
.usersListBox{
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
}
.w-full{
    width: 100%;
}
.system-message {
    color: #888;
    font-style: italic;
    margin: 10px 0;
}
.own-message {
    background-color: #e0ffe0;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
.msglist {
    list-style: none;
    padding: 0;
    margin: 0;
}
.outgoing{
    background-color: #1f24FF;
    width: 60%;
    padding: ;
}
.incoming{
    background-color: #FF5733;
    float: right;
    width: 60%;
}