:root{
    --primary-color: #1b1b1b;
    --secondary-color: #3b3b3b;
    --primary-font-color: #e7e7e7;

    --success-button-hover-color: #9bf7b0;
    --success-button-color: #189e38;
    --danger-button-hover-color: #ff7f7f;
    --danger-button-color: #ff4d4d;


    --player-background-color: #b4a692;
}



body{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

form{
    background-color: var(--secondary-color);
}

input[type="text"]{
    color: var(--primary-color);
    border: 1px solid var(--primary-font-color);
}


.btn-success{
    background-color: var(--success-button-hover-color);
    border: 1px solid var(--success-button-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.btn-success:hover{
    background-color: var(--success-button-color);
    color: var(--primary-font-color);
}

.btn-danger{
    background-color: var(--danger-button-hover-color);
    border: 1px solid var(--danger-button-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.btn-danger:hover{
    background-color: var(--danger-button-color);
    color: var(--primary-font-color);
}

/*game*/

.gameSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--secondary-color);
    padding: 10px;
    margin-top: 20px;
}
.gameContainer{
    width: 400px;
}
.players{
    width: 440px;
    text-align: center;
}

#playerList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}


#player1, #player2{
    text-align: center;
    padding: 10px;
    width: fit-content;
    border: 1px solid var(--primary-font-color);
    margin: 5px;
    background-color: var(--player-background-color);
    border-radius: 25px;
    box-shadow: 0 0 10px var(--primary-font-color);
}
#player1{
    float: left;
    
}
#player2{
    float: right;
    box-shadow: 0 0 10px blue;
}



.gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.tile{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--primary-font-color);
    transition: 0.2s;

}

.tile:hover{
    background-color: black;
    transform: rotate(2deg);
}

/*tile border változások*/

.b1{
    border-left: none;
    border-top: none;
}


.b2{
    border-top: none;
}

.b3{
    border-right: none;
    border-top: none;
}

.b4{
    border-left: none;
}


.b6{
    border-right: none;
}

.b7{
    border-left: none;
    border-bottom: none;
}

.b8{
    border-bottom: none;
}

.b9{
    border-right: none;
    border-bottom: none;
}
