:root{
    --primary-color: #1b1b1b;
    --secondary-color: #3b3b3b;
    --primary-font-color: #e7e7e7;
    --success-button-hover-color: #9bf7b0;
    --success-button-color: #189e38;
    --player-background-color: #b4a692;
}



body{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

form{
    background-color: var(--secondary-color);
}

input[type="text"]{
    color: var(--primary-color);
    border: 1px solid var(--primary-font-color);
}


.btn-success{
    background-color: var(--success-button-hover-color);
    border: 1px solid var(--success-button-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.btn-success:hover{
    background-color: var(--success-button-color);
    color: var(--primary-font-color);
}




/*game*/

.gameSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-font-color);
    padding: 10px;
    margin-top: 20px;
}


.playerList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


#player1,
#player2 {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--primary-font-color);
    margin: 5px;
}

#player1{
    background-color: var(--player-background-color);
}

#player2{
    background-color: var(--primary-font-color);
}
